
.mein{ /*Описываем класс меин*/
  width: 100%; /*Задаем ширину*/
  background-color: #7eadbe; /*Задаем цвет*/
}

#card{
  padding:20px 0; /*Отступы */
  text-align:center; /*Текст в центре*/
}

h2 {
  font-size: 30px; /*Размер*/
 }

 mat-form-field{ /*Задаем значения инпутам */
  display:inline-block; 
  outline:none;
  margin-right:18px; /*Отступ */
  border: none;
  }
  
  mat-form-field {
  width: 40%; /*Ширина */
}

/* Smartphone + Tablet
---------------------------------- */
@media screen and (min-width:200px) and (max-width:1000px) { /*Перенос строчек если уменьшили вкладку*/
  
  mat-form-field{ /*Задаем значение инпутам*/
  display: block;/*Поля идут друг за другом */
  margin: 10px auto; /*Отступы между полями */
}
  
mat-form-field{min-width:440px;}
  
}